html {
  font-size: 100%;
}

body {
  color: #2b2b2b;
  width: 100%;
}

a {
  text-decoration: none;
}

header {
  flex-direction: row;
  display: flex;
  align-items: center;
  width: 100%;
  height: 5.625rem;
  background: #faf0e6;
  justify-content: space-between;
}

nav {
  display: flex;
}

ul {
  list-style: none; /* リストのスタイルを削除 */
  padding: 0; /* パディングを削除 */
  margin: 0; /* マージンを削除 */
  display: flex; /* 横並びにする */
  gap: 2.5rem;
}

li {
  margin: 0 15px; /* 各リストアイテムの間にスペースを追加 */
}

.head {
  flex-direction: row;
  display: flex;
  align-items: center;
  max-width: 62.5rem;
  margin: 0 auto;
}

.logo {
  width: 10rem;
  height: auto;
  margin-right: 7.5rem;
}

.head_link {
  color: #5c2020;
  font-family: "Noto Serif JP";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
}

.head_btn {
  margin-left: 4.375rem;
  background: #deb7b7;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 13.25rem;
  height: 3.75rem;
  padding: 1rem 1.25rem 1rem 1.43rem;
  border-radius: 0.75rem;
}

.head_button {
  white-space: nowrap;
  color: #5c2020;
  font-family: "Noto Serif JP";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 12px;
}

.head_btn:hover {
  border-radius: 12px;
  background: #ebaaaa;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform: translateY(3px); /* 3px 下に移動 */
}

.hero {
 width: 100%;
 height: 46.875rem;
 background-image: url('img/TOP写真.png');
 background-size: cover;
 background-position: center;
}

.hero_img {

  width: 100%;
  height: auto;
  margin-bottom: 4.06rem;
}

.hero_img img {
  width: 100%;
}

.hero_text {

}

.hero_title {

}

.hero_subtitle {

}

.hero_tagline {

}

.hero_description {

}

